In [105]:
import pandas as pd

In [106]:
games = pd.read_csv('video_games_sales.csv')

In [107]:
games

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [108]:
longest_publisher = games['publisher'].dropna().str.len().idxmax()
longest_name = games.loc[longest_publisher, 'publisher']
print(f"Longest publisher name: {longest_name}, Length: {len(longest_name)}")

Longest publisher name: Warner Bros. Interactive Entertainment, Length: 38

In [109]:
games.rename(columns={'rank': 'game_id'}, inplace=True)

In [110]:
games['publisher'] = games['publisher'].fillna('Unknown Publisher')

In [111]:
games_with_null_publishers = games[games['publisher'].isna()]
games_with_null_publishers['publisher'] = 'Unknown Publisher'

In [112]:
games_with_null_publishers

Empty DataFrame
Columns: [game_id, name, platform, year, genre, publisher, na_sales, eu_sales, jp_sales, other_sales, global_sales]
Index: []

In [113]:
gamesTable = games[["game_id", "name", "genre"]]
platformsTables = games[['name', 'platform', "year", "publisher", 'na_sales', 'eu_sales', 'jp_sales', 'other_sales', 'global_sales']]

In [114]:
gamesTable = gamesTable.drop_duplicates(subset='name', keep='first')

In [115]:
gamesTables.value_counts()

game_id  name                            genre
1        Wii Sports                      Sports      1
11089    Clockwork Knight                Platform    1
11059    Go Play: City Sports            Sports      1
11060    Porsche Challenge               Racing      1
11061    Dragon Ball Z: Shin Butouden    Fighting    1
                                                    ..
5539     NCAA GameBreaker 2001           Sports      1
5540     Power Rangers: Ninja Storm      Misc        1
5541     Angry Birds Star Wars           Strategy    1
5542     Naruto: Gekito Ninja Taisen! 4  Fighting    1
16600    Spirits & Spells                Platform    1
Length: 16598, dtype: int64

In [118]:
merged_table = platformsTables.merge(gamesTable[['game_id', 'name']], on='name', how='inner')
merged_table[merged_table['game_id'] == 253]

,name,platform,year,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,game_id
457,Need for Speed: Most Wanted,PS2,2005.0,Electronic Arts,2.03,1.79,0.08,0.47,4.37,253
458,Need for Speed: Most Wanted,PS3,2012.0,Electronic Arts,0.71,1.51,0.06,0.61,2.89,253
459,Need for Speed: Most Wanted,X360,2012.0,Electronic Arts,0.62,0.80,0.01,0.15,1.58,253
460,Need for Speed: Most Wanted,X360,2005.0,Electronic Arts,1.00,0.17,0.02,0.10,1.29,253
461,Need for Speed: Most Wanted,PSV,2012.0,Electronic Arts,0.38,0.52,0.01,0.25,1.16,253
462,Need for Speed: Most Wanted,XB,2005.0,Electronic Arts,0.53,0.46,0.00,0.05,1.04,253
463,Need for Speed: Most Wanted,GC,2005.0,Electronic Arts,0.43,0.11,0.00,0.02,0.56,253
464,Need for Speed: Most Wanted,PC,2005.0,Electronic Arts,0.02,0.23,0.00,0.05,0.30,253
465,Need for Speed: Most Wanted,WiiU,2013.0,Electronic Arts,0.14,0.12,0.00,0.02,0.28,253
466,Need for Speed: Most Wanted,DS,2005.0,Electronic Arts,0.24,0.01,0.00,0.02,0.27,253
467,Need for Speed: Most Wanted,GBA,2005.0,Electronic Arts,0.19,0.07,0.00,0.00,0.26,253
468,Need for Speed: Most Wanted,PC,2012.0,Electronic Arts,0.00,0.06,0.00,0.02,0.08,253

In [ ]:
gamesTables.to_csv('games_table.csv', index=False)
merged_table.to_csv('platforms_table.csv', index=False)

In [ ]:
games