In [147]:
import pandas as pd

In [148]:
games = pd.read_csv('video_games_sales.csv')

In [149]:
games

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [150]:
longest_publisher = games['publisher'].dropna().str.len().idxmax()
longest_name = games.loc[longest_publisher, 'publisher']
print(f"Longest publisher name: {longest_name}, Length: {len(longest_name)}")

Longest publisher name: Warner Bros. Interactive Entertainment, Length: 38

In [151]:
games.rename(columns={'rank': 'game_id'}, inplace=True)

In [152]:
games['publisher'] = games['publisher'].fillna('Unknown Publisher')

In [153]:
games_with_null_publishers = games[games['publisher'].isna()]
games_with_null_publishers['publisher'] = 'Unknown Publisher'

In [154]:
games_with_null_publishers

Empty DataFrame
Columns: [game_id, name, platform, year, genre, publisher, na_sales, eu_sales, jp_sales, other_sales, global_sales]
Index: []

In [155]:
gamesTable = games[["game_id", "name", "genre"]]
platformsTables = games[['name', 'platform', "year", "publisher", 'na_sales', 'eu_sales', 'jp_sales', 'other_sales', 'global_sales']]

In [156]:
gamesTable = gamesTable.drop_duplicates(subset='name', keep='first')

In [157]:
gamesTable['name'].value_counts()

Wii Sports                                  1
Ultimate Card Games DS                      1
Savage Skies                                1
Cartoon Network: Punch Time Explosion XL    1
1 vs. 100                                   1
                                           ..
Beyond Good & Evil                          1
Banjo-Kazooie: Grunty's Revenge             1
Bomberman World                             1
The X-Factor                                1
Know How 2                                  1
Name: name, Length: 11493, dtype: int64

In [158]:
merged_table = platformsTables.merge(gamesTable[['game_id', 'name']], on='name', how='inner')
merged_table[merged_table['game_id'] == 253]
merged_table = merged_table.drop(columns=['name'])

In [161]:
merged_table

,platform,year,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales,game_id
0,Wii,2006.0,Nintendo,41.49,29.02,3.77,8.46,82.74,1
1,NES,1985.0,Nintendo,29.08,3.58,6.81,0.77,40.24,2
2,GB,1999.0,Nintendo,3.40,1.30,0.15,0.22,5.07,2
3,Wii,2008.0,Nintendo,15.85,12.88,3.79,3.31,35.82,3
4,Wii,2009.0,Nintendo,15.75,11.01,3.28,2.96,33.00,4
...,...,...,...,...,...,...,...,...,...
16593,PSV,2016.0,dramatic create,0.00,0.00,0.01,0.00,0.01,16592
16594,PSP,2007.0,Falcom Corporation,0.00,0.00,0.01,0.00,0.01,16593
16595,DS,2008.0,Destineer,0.01,0.00,0.00,0.00,0.01,16595
16596,GBA,2002.0,Kemco,0.01,0.00,0.00,0.00,0.01,16596
16597,DS,2010.0,7G//AMES,0.00,0.01,0.00,0.00,0.01,16599

In [159]:
gamesTable.to_csv('games_table.csv', index=False)
merged_table.to_csv('platforms_table.csv', index=False)

In [160]:
games

,game_id,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01